		body {
			background: #000;
			padding: 0;
			margin: 0;
			color: #fff;
			font: normal 14px sans-serif;
            cursor: url('imagens/cursor.png'), auto;
            overflow: hidden;
            top: 0;
		}
		
		canvas {
			display: block;
			margin: 0 auto;
        }

		.fundo {
			height: 600px;
			width: 800px;
		}

		.celular {
			position: absolute;
			height: 437px;
            width: 544px;
			bottom: 5px;
			right: -165px;
		}

        #preto {
            position: absolute;
            right: 13px;
            bottom: 88px;
            width: 188px;
            height: 271px;
            z-index: 2;
        }

        #telabloqueada {
            position: absolute;
            right: 13px;
            bottom: 88px;
            width: 188px;
            height: 271px;
        }
        #wallpaper {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 188px;
			height: 271px;
            z-index: 2;
            cursor: url('imagens/cursor-click.png'), auto;
        }

		#chat {
			position: absolute;
			right: 13px;
			bottom: 123px;
			width: 188px;
			height: 201px;
			background-color: rgba(195, 230, 222, 0.938);
			overflow-y: auto;
  			overflow-x: none;
            z-index: 0;
		}

        .horas {
            position: absolute;
            font-family: 'Press Start 2P', cursive;
            font-size: 35px;
            color: #fff;
            right: 6px;
			bottom: 175px;
            z-index: 2;
            cursor: url('imagens/cursor-click.png'), auto;
        }

        .remetente {
            position: absolute;
            font-family: 'Press Start 2P', cursive;
            font-size: 10px;
            color: #fff;
            left: 20px;
			bottom: 125px;
            z-index: 2;
            cursor: url('imagens/cursor-click.png'), auto;
        }

        .conteudo {
            position: absolute;
            font-family: 'Press Start 2P', cursive;
            font-size: 10px;
            color: #fff;
            left: 20px;
			bottom: 110px;
            z-index: 2;
            cursor: url('imagens/cursor-click.png'), auto;
        }

		.contato {
			position: absolute;
			right: 13px;
			bottom: 324px;
			width: 188px;
			height: 35px;
			background-color: darkcyan;
			color: white;
			font-family: 'Press Start 2P', cursive;
            font-size: 9px;
            z-index: 1;
		}

		.input {
			position: absolute;
			right: 12.5px;
			width: 188px;
			height: 35px;
			background-color: darkcyan;
			color: white;
			bottom: 88px;
			float: left;
            z-index: 0;
		}

		.escondido {
			display: none;
		}

        .visivel {
            display: block;
        }

		.ind_button {
			font-family: 'Press Start 2P', cursive;
            font-size: 6px;
			background-color: darkcyan;
			color: white;
			width: 94px;
			height: 35px;
			float: left;
			margin-left: 0px;
			cursor: pointer;
			z-index: 1;
            cursor: url('imagens/cursor-click.png'), auto;
		}


		.ind_button:hover {
			background-color: #a2dad770;
		}

		#texto {
			position: absolute;
			right: 45px;
			top: 13px;
			width: 100px;
			height: 160px;
            z-index: 0;
		}

		.imagem {
			position: relative;
			height: 30px;
			width: 32px;
			left: 5px;
			bottom: -2.5px;
            z-index: 0;
		}

		.msgalex {
			position: relative;
			height: 15%;
			left: 0px;
			margin-top: 5px;
			display: none;
			clear: both;
            z-index: 0;			
		}

		.msgfred {
			position: relative;
			height: 15%;
			float: right;
			margin-top: 5px;
			display: none;
			clear: both;
            z-index: 0;
		}


        #divInventario {
            color: #fff;
            background: #000;
            width: 530px;
            height: 350px;
            border-left: inset 30px;
            border-right: inset 30px;
            border-bottom: inset 30px;
            border-color: transparent;
            bottom: 518px;
            left: 60px;
            z-index: 0;
            padding: 0px;
            margin: 30px auto;
            position: relative;
        }

        .borda {
            background: $color-container;
            box-shadow:
            /* Inner Background Color */
              0   -6px 0  -2px transparent,
              0    6px 0  -2px transparent,
              0  -12px 0  -4px transparent,
              0   12px 0  -4px transparent,
              0  -18px 0  -8px transparent,
              0   18px 0  -8px transparent,
              0  -24px 0 -12px transparent,
              0   24px 0 -12px transparent,
            /* Inner Border */
             -2px  0   0   0   #000,
              2px  0   0   0   #000,
              0   -4px 0   0   #000,
              0    4px 0   0   #000,
              0  -10px 0  -2px #000,
              0   10px 0  -2px #000,
              0  -14px 0  -4px #000,
              0   14px 0  -4px #000,
              0  -20px 0  -8px #000,
              0   20px 0  -8px #000,
              0  -26px 0 -12px #000,
              0   26px 0 -12px #000,
            /* Middle Border */
             -4px  0   0   0   #000,
              4px  0   0   0   #000,
              0   -2px 0   2px #000,
              0    2px 0   2px #000,
              0   -8px 0   0px #000,
              0    8px 0   0px #000,
              0  -12px 0  -2px #000,
              0   12px 0  -2px #000,
              0  -16px 0  -4px #000,
              0   16px 0  -4px #000,
              0  -22px 0  -8px #000,
              0   22px 0  -8px #000,
              0  -28px 0 -12px #000,
              0   28px 0 -12px #000,
            /* Outer Border */
             -6px  0   0   0   #fff,
              6px  0   0   0   #fff,
              0    0   0   4px #fff,
              0   -6px 0   2px #fff,
              0    6px 0   2px #fff,
              0  -10px 0   0   #fff,
              0   10px 0   0   #fff,
              0  -14px 0  -2px #fff,
              0   14px 0  -2px #fff,
              0  -18px 0  -4px #fff,
              0   18px 0  -4px #fff,
              0  -24px 0  -8px #fff,
              0   24px 0  -8px #fff,
              0  -30px 0 -12px #fff,
              0   30px 0 -12px #fff;

        }


.topEyelid {
    height: 300px;
    left: 240px;
    width: 800px;
    position: relative;
    background-color: #000;
    bottom: 600px;
    z-index: 2;
    animation-name: sobe;
    animation-duration: 4s;
    animation-fill-mode:forwards;
    animation-delay: 2s;
}
.bottomEyelid {
    overflow: visible;
    width: 800px;
    height: 300px;
    position: absolute;
    bottom: 10px;
    left: 240px;
    background-color: #000;
    z-index: 2;
    animation-name: desce;
    animation-duration: 4s; 
    animation-fill-mode:forwards;
    animation-delay: 2s;
}

@keyframes sobe {
  0%   {left:240px; bottom:600px; z-index:  2}
  35%  {left:240px; bottom:800px; z-index:  2} 
  70%  {left:240px; bottom:600px; z-index:  2}
  95%  {left:240px; bottom:900px; z-index:  2}  
  100% {left:240px; bottom:900px; z-index: -1}
}

@keyframes desce {
  0%   {left:240px; bottom: 010px; z-index:  2}
  35%  {left:240px; bottom:-210px; z-index:  2}
  70%  {left:240px; bottom: 010px; z-index:  2}
  95%  {left:240px; bottom:-310px; z-index:  2}
  100% {left:240px; bottom:-310px; z-index: -1}
}

.ele {
        color: white;
        overflow: hidden;
        position: absolute;
		font-family: 'Press Start 2P', cursive;
        font-size: 10px;
        white-space: nowrap;
        padding: 10px;
        left: calc(50% - 450px / 2);
}

#ele1 {
    animation: typing 4s steps(60, end);
    animation-delay: 6s;
    animation-fill-mode: both;
    vertical-align: middle;
}

#ele2 {
    animation: typing 4s steps(60, end);
    animation-delay: 10s;
    animation-fill-mode: both;
    vertical-align: middle;
}

#ele3-1 {
    animation: typing-continua 8s steps(80, end);
    animation-delay: 14s;
    animation-fill-mode: both;
    bottom: 60px;
}

#ele3-2 {
    animation: typing-continuado 4s steps(80, end);
    animation-delay: 18s;
    animation-fill-mode: both;
    bottom: 50px;
}

@keyframes typing {
    0%      {width: 0px  ;bottom:-100px;}
    0.01%   {width: 0px  ;bottom: 50px ;}
    99.99%  {width: 500px;bottom: 50px ;}
    100%    {width: 500px;bottom:-100px;}
}

@keyframes typing-continua {
    0%      {width: 0px  ;bottom:-100px;}
    0.01%   {width: 0px  ;bottom: 50px ;}
    50%     {width: 500px;bottom: 50px ;}
    99.99%  {width: 500px;bottom: 50px ;}
    100%    {width: 500px;bottom:-100px;}
}

@keyframes typing-continuado {
    0%      {width: 0px  ;bottom:-100px;}
    0.01%   {width: 0px  ;bottom: 30px ;}
    99.99%  {width: 500px;bottom: 30px ;}
    100%    {width: 500px;bottom:-100px;}
}


        ::-webkit-scrollbar {
        width: 5px;
		}

		::-webkit-scrollbar-track {
		background: transparent; 
		}
		
		::-webkit-scrollbar-thumb {
		background: #888; 
		}

		::-webkit-scrollbar-thumb:hover {
		background: #555; 
        }
        
